language: php
php:
  - '5.5'
  - '5.6'
service:
  - mysql
install:
  - composer install
before_install:
  - mysql -e 'CREATE DATABASE IF NOT EXISTS baladay;'  
  - mysql -u root -p --default-character-set=utf8 baladay < scripts/bd.sql
script:
  - vendor/bin/phpunit
notifications:
  email:
    - absmarcosdalte@gmail.com
